@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*Tipos de fontes*/
    --fonte: 'Rubik', sans-serif;

    /*Cores dos objetos*/
    --cor_background: #2c2c2c;
    --cor_divs: #4442427c;
    --cor_dos_inputs: #41373771;
    --cor_dos_botoes: #ec9b4f;

    /*Cores das letras*/
    --cor_titulo: #ffffff;
    --cor_paragrafo: #fff; 
    --cor_restantes: #ffffff;
}

::selection {
    background-color: #000000a2;
}

::placeholder {
    color: rgba(252, 247, 247, 0.692);
}

body{
    background-color: var(--cor_background);
}

nav {
    background-color: var(--cor_divs);
    padding-bottom: 8px;
}

.lista_nav {
    display: inline-flex;
    margin: 0 10px 0 10px;
    padding-top: 10px;
    list-style-position: inside;
    list-style-type: none;
}

.lista_nav > li {
    display: inline;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: var(--cor_dos_botoes);

}

.lista_nav > li > a {
    color: var(--cor_restantes);
    padding:0 12px 0px 12px;
    text-decoration: none;
}

.lista_nav > li:hover {
    background: rgb(253, 123, 123);
    text-decoration: underline;
}

nav > img {
    padding-top: 10px;
    width: 128px;
    height: 64px;
}

#lista_nav_esquerda {
    position: absolute;
    left: 0;
    display: inline-flex;
}

#lista_nav_direita {
    position: absolute;
    right: 0;
    display: inline-flex;
}

#lista_nav_direita > li{
    margin-left: 8px;
}

#titulo {
    padding-top: 8px;
    text-align: center;
    font-family: var(--fonte);
    color: var(--cor_titulo);
    margin: 0 auto;
}

#agrupar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

#form_agrupamento {
    background-color: #686868;
    width: 370px;
    height: 250px;
}

.paragrafo {
    padding-top: 15px;
    font-family: var(--fonte);
    color: var(--cor_paragrafo);

}

#paragrafo2 {
    padding-top: 6px;
    margin-bottom: 6px;
}

input {
    margin: 6px;
    height: 23px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--cor_dos_inputs);
    color: whitesmoke;
    transition: 1s;
    text-align: center;
}

#botao_confirma {
    margin-top: 10px;
    background: var(--cor_dos_botoes);
	color: white;
	border-style: none;
	height: 50px;
	width: 120px;
	font-family: var(--fonte);
}

#botao_confirma:hover {
	border: 1px solid #eee;
}

#botao_confirma:active {
    background: #B5DEFF;
}

#div_span {
    display: flexbox;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 22.2px;
    background-color: var(--cor_divs);
    font-family: var(--fonte);
    color: var(--cor_restantes);
    word-break: break-all;
}

#rodape {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 10px 5px 0;
    background-color: var(--cor_divs);
    color: var(--cor_restantes);
}

#rodape > small {
    font-family: var(--fonte);
    font-size: 0.8em;
}
