@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*Tipos de fontes*/
    --fonte: 'Rubik', sans-serif;

    /*Cores dos objetos*/
    --cor_background: #2c2c2c;
    --cor_divs: #4442427c;
    --cor_dos_inputs: #41373771;
    --cor_dos_botoes: #fcbc04;

    /*Cores das letras*/
    --cor_titulo: #ffffff;
    --cor_paragrafo: #fff; 
    --cor_restantes: #ffffff;
}

::selection {
    background-color: #000000a2;
}

::placeholder {
    color: rgba(252, 247, 247, 0.692);
}

body{
    background-color: var(--cor_background);
}

nav {
    background-color: var(--cor_divs);
    padding-bottom: 8px;
}

.lista_nav {
    display: inline-flex;
    margin: 0 10px 0 10px;
    padding-top: 10px;
    list-style-position: inside;
    list-style-type: none;
}

.lista_nav > li {
    display: inline;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: var(--cor_dos_botoes);

}

.lista_nav > li > a {
    color: var(--cor_restantes);
    padding:0 12px 0px 12px;
    text-decoration: none;
}

.lista_nav > li:hover {
    background: rgb(253, 123, 123);
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

nav > img {
    padding-top: 10px;
    width: 128px;
    height: 64px;
}

#titulo {
    padding-top: 8px;
    text-align: center;
    font-family: var(--fonte);
    color: var(--cor_titulo);
    margin: 0 auto;
}

#agrupar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

#div_agrupamento {
    display: block;
    background-color: #686868;
    width: 500px;
    height: auto;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
	color: #1a1818;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.paragrafo {
    padding-top: 15px;
    margin-bottom: 15px;
    font-family: var(--fonte);
    color: var(--cor_paragrafo);

}

.botao_confirma {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--cor_dos_botoes);
	border-style: none;
	height: 80px;
	width: 300px;
	font-family: var(--fonte);
}

.botao_confirma:hover {
    cursor: pointer;
    background: #eb9b4c;
	border: 1px solid #eee;
    text-decoration: underline;
}

.botao_confirma:active {
    background: #B5DEFF;
}

#rodape {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 10px 5px 0;
    background-color: var(--cor_divs);
    color: var(--cor_restantes);
}

#rodape > small {
    font-family: var(--fonte);
    font-size: 0.8em;
}
